/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* Full viewport for app-container */
.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in;
}

/* Light mode styles */
.app-container.light {
  background-color: rgb(205, 205, 205); 
  color: black; 
}

/* Dark mode styles */
.app-container.dark {
  background-color: rgb(50, 50, 50);
  color: white;
}

/* Light mode styles for todo container */
.todo-container.light {
  background-color: rgb(205, 205, 205);
  color: black;
}

/* Dark mode styles for todo container */
.todo-container.dark {
  background-color: rgb(20, 20, 20);
  color: white;
}

/* Styling for the container */
.todo-container {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  border-radius: 0.5em;
  transition: 0.5s ease-in;
}

/* Styling for the todo list */
.todo-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

/* Styling for each todo item */
.todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgb(175, 175, 175);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1.5em;
  font-family: 'Montserrat', sans-serif;
}

/* Dark mode styles for todo item */
.todo-container.dark .todo-item {
  background-color: rgb(50, 50, 50);
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

.todo-item p {
  margin: 0 0 10px 0;
}

.todo-item .icon {
  font-size: 1.3em;
}

.todo-item .todo-title {
  font-size: 1.3em;
}

.todo-item .todo-due-date {
  font-size: 0.8em;
}

.due-date {
  display: flex;
  align-items: center;
}

.calendar-icon {
  margin-right: 8px;
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
}

.todo-due-date {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

/* Styling for buttons */
.todo-item button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  margin-right: 5px;
}

/* Specific styling for the complete button */
.todo-item .complete-button {
  border: 2px solid transparent;
  border-radius: 5px;
}

.todo-item .complete-button.complete {
  color: limegreen; /* Green color for FaCheck */
}

.todo-item .complete-button.incomplete {
  color: red; /* Red color for FaTimes */
}

/* Styling for the star icon */
.priority-selector button {
  color: black;
}

/* Dark mode styles for star icon buttons */
.todo-container.dark .priority-selector button {
  color: white;
}

.todo-item .star {
  font-size: 1.3em;
}

.todo-item .star.low {
  color: rgb(205, 127, 50); /* Bronze color for low priority */
}

.todo-item .star.medium {
  color: rgb(245, 245, 245); /* Silver color for medium priority */
}

.todo-item .star.high {
  color: rgb(255, 215, 0); /* Gold color for high priority */
}

.todo-item .edit:hover {
  color: aqua;
}

.todo-item .delete:hover {
  color: red;
}

/* Styling for the edit input field */
.todo-item input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Dark mode styles for input fields */
.todo-container.dark .todo-item input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 10px;
}

.add-todo-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Dark mode styles for form input */
.todo-container.dark .add-todo-form input {
  background-color: #333;
  color: white;
  border: 1px solid #555;
}

.add-todo-form button {
  padding: 10px 20px;
  border: 1px solid #32cd32;
  border-radius: 5px;
  background-color: #32cd32;
  color: white;
  cursor: pointer;
  align-self: center;
}

.add-todo-form button:hover {
  border: 1px solid black;
  color: black;
}

/* Theme toggle button styles */
.theme-toggle-button {
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  display: block;
}

/* Dark mode styles for theme toggle button */
.todo-container.dark .theme-toggle-button {
  background-color: #444;
  color: white;
}

/* Responsive design */
@media (max-width: 600px) {
  .todo-item {
    padding: 15px;
  }

  .add-todo-form {
    gap: 5px;
  }
}
